<!-- <p [id]="propLegal">product-create works!</p>

neste caso o id vai pegra o atributo que esta em propLegal, que no caso é "qualquer"

<button (click)="fazerAlgo()">Fazer algo </button> -->

    <mat-card-title> Novo produto</mat-card-title>

    <form class="form">
        <mat-form-field>
            <input matInput placeholder="Nome:" [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$):" [(ngModel)]="product.price" name="price">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="createProduct()" color="primary">Salvar</button>

    <button mat-raised-button (click)="cancel()"> Cancelar</button>
