
<mat-card class="home mat-elevation-z3">
    <!-- o mat elevation serve para criar uma certa profundidade -->
    <mat-card-title class="title">Bem vindo!</mat-card-title>
    <mat-card-subtitle class="subtitle">Sistema para exemplificvar a execução de um cadastro em Angular</mat-card-subtitle>

    <ul>
        <li *myFor="let n em [1,2,3]">{{n}}</li>
        <!-- aqui usamos uma diretiva, usando a plavra chave definida na diretiva, neste caso 'em', e ele pega como o parametro o que se segue depois desta palavra -->
    </ul>

</mat-card>